      <footer class="footer mt-5 py-4">
        <div class="container">
        <div class="row mb-2">© 2026 Demo Financial Platform</div>
            <div class="row mb-3">
              <small>
                <b>Cluster:</b> {{ cluster_name }}, <b>Pod:</b> {{ pod_name }}, <b>Zone:</b> {{ pod_zone }}
              </small>
            </div>
            <div class="row mb-1">
              <small>
                This interface is for testing and demonstration only. It does not process real financial transactions.
              </small>
            </div>
        </div>
      </footer>
